<main id="main">
    <main id="main">
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">Search by name
                        <input type="text" [(ngModel)]="searchByName" class="form-search">
                    </div>
                    <div class="col-md-3">Search by level
                        <select name="searchByLevel" [(ngModel)]="searchByLevel" class="form-search">
                            <option>L1 TI</option>
                            <option>L2 DSI</option>
                            <option>L3 DSI</option>
                            <option>L2 SEM</option>
                            <option>L3 SEM</option>
                        </select>
                    </div>
                    <div class="col-md-3"></div>
                </div>
<br>
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
                        *ngFor="let course of courses | coursesByName : searchByName | coursesByLevel : searchByLevel">
                        <div class="icon-box">
                            <div></div>
                            <h4 class="title"><a href="">{{course.title}}</a></h4>
                            <p class="description" style="min-height: 30px;">{{course.description}}</p>
                            <br>
                            <a href="../../../../../assets/uploads/{{course.fileName}}"><button class="btn-success"><i
                                        class="fa fa-file-text" aria-hidden="true"></i>View</button></a>
                            <a href="../../../../../assets/uploads/{{course.fileName}}" download><button
                                    class="btn-info float-right"><i class="fa fa-download" style="color: red;"></i>
                                    Download</button></a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </section>
    </main>