<main id="main">

  <section id="about" class="about">
    <div class="container">
      <br>
<h3>Lorem, ipsum dolor.</h3>
      <div class="text-center"><img src="http://via.placeholder.com/300x200"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sunt eveniet velit officia blanditiis nisi
        a consequatur sint placeat error!</p>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, magni suscipit eos cupiditate, quaerat non omnis?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum incidunt eligendi iusto sapiente nam? Expedita
      fugiat explicabo temporibus dolorum!</p>
    </div>
  </section>

</main>